body {
  font-family: "Roboto", sans-serif;
  background-color: #eae3e3;
}

.container {
  width: 60%;
  border: none;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgb(45 9 92 / 8%);
  margin: 20px auto;
  padding: 30px;
}
/* header*/
header {
  border-bottom: 1px solid #eae3e3;
  padding-bottom: 30px;
}

h2 {
  color: #20366b;
  padding-bottom: 30px;
}

.city-input {
  background-color: #eae3e3;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-submit {
  background: #20366b;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

/* main */
main {
  padding: 30px;
  display: block;
  border-bottom: 1px solid #eae3e3;
}

.main-flex {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #20366b;
  font-size: 68px;
  line-height: 40px;
  margin: 20px 0 50px;
}

p {
  font-size: 16px;
  color: rgba(45, 9, 92, 0.4);
  line-height: 20px;
  font-weight: 500;
}

.weather-details {
  color: #dd7777;
}

.large-temp {
  color: #20366b;
  display: flex;
  justify-content: space-evenly;
}

.temp-no {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  display: block;
}

.deg {
  font-size: 20px;
  display: block;
  color: #2d095c;
  margin-top: 6px;
}

.weather-icon {
  height: 88px;
  width: 88px;
}

/* Weather forecast */

.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(45, 9, 92, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  display: block;
  margin: 0 auto;
  width: 88px;
  height: 88px;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  color: #dd7777;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

/* footer */

footer {
  border-top: 1px solid #eae3e3;
  padding: 30px 0;
  font-size: 14px;
  color: rgba(45, 9, 92, 0.6);
}

a {
  text-decoration: none;
  color: #20366b;
  cursor: pointer;
}
