body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f7fe;
}

.container {
  width: 60%;
  border: none;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  margin: 20px auto;
  padding: 30px;
}
/* header*/
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

h2 {
  color: #885df1;
  padding-bottom: 30px;
}

.city-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-submit {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

/* main */
main {
  padding: 30px;
  display: block;
  border-bottom: 1px solid #f9f7fe;
}

.main-flex {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 68px;
  line-height: 40px;
  margin: 20px 0 50px;
}

p {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 20px;
  font-weight: 500;
}

.weather-details {
  color: #f65282;
}

.large-temp {
  display: flex;
  justify-content: space-evenly;
}

.temp-no {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  display: block;
}

.deg {
  font-size: 20px;
  display: block;
  color: #000;
  margin-top: 6px;
}

.weather-icon {
  height: 88px;
  width: 88px;
}

/* footer */

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

a {
  text-decoration: none;
  color: #885df1;
  cursor: pointer;
}
